* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    max-width: 1536px;
    margin: auto;
    color: #000000;
    background-color: #84cfe2;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    padding: 18px;
    border-radius: 18px;
    background-color: #323232;
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}

.display-box {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 6px;
    text-align: right;
    padding: 6px 12px;
    border-radius: 12px;
    color: #000000;
    background-color: #d5d5d5;
}

.input {
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    overflow-x: auto;
    overflow-y: hidden;
}

.output {
    width: 100%;
    font-size: 42px;
    font-weight: 500;
    line-height: 42px;
    color: #000000;
    overflow-x: auto;
    overflow-y: hidden;
}

.display-operator {
    margin: 0px 5px;
    color: #656565;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 18px;
}

.button {
    width: 82px;
    height: 48px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #000000;
    background-color: #ffffff;
}

.action, .operator {
    color: #ffffff;
    background-color: #7d7d7d;
}

.ac, .del {
    background-color: #ff3c4c;
}

.equal {
    width: 176px;
    background-color: #f7941d;
}

.button:hover {
    background-color: #d5d5d5;
}

.action:hover, .operator:hover {
    background-color: #636363;
}

.ac:hover, .del:hover {
    background-color: #ff2b3d;
}

.equal:hover {
    background-color: #ff6820;
}
